definitions:
  dtos.AllConfigurations:
    properties:
      id:
        type: integer
      name:
        type: string
    type: object
  dtos.BehaviourStreamsResponse:
    properties:
      countAlertLevel:
        type: integer
      countEvacuationLevel:
        type: integer
      countLowWaterLevel:
        type: integer
      totalValuesCount:
        type: integer
    type: object
  dtos.CalibratedStreamsData:
    properties:
      qualifier:
        type: string
      time:
        type: string
      value:
        type: number
    type: object
  dtos.CalibratedStreamsDataResponse:
    properties:
      mainStreams:
        items:
          $ref: '#/definitions/dtos.CalibratedStreamsData'
        type: array
      p05Streams:
        items:
          $ref: '#/definitions/dtos.CalibratedStreamsData'
        type: array
      p25Streams:
        items:
          $ref: '#/definitions/dtos.CalibratedStreamsData'
        type: array
      p75Streams:
        items:
          $ref: '#/definitions/dtos.CalibratedStreamsData'
        type: array
      p95Streams:
        items:
          $ref: '#/definitions/dtos.CalibratedStreamsData'
        type: array
    type: object
  dtos.Configuration:
    properties:
      id:
        type: integer
      name:
        type: string
    required:
    - name
    type: object
  dtos.ErrorIndicator:
    properties:
      count:
        type: integer
      errorType:
        type: string
    type: object
  dtos.ErrorResponse:
    properties:
      message:
        type: string
      timestamp:
        type: string
    type: object
  dtos.ErrorsCountPerDayAndType:
    properties:
      date:
        type: string
      errorType:
        type: string
      total:
        type: integer
    type: object
  dtos.InputsGeneralMetrics:
    properties:
      totalNetworks:
        type: integer
      totalStations:
        type: integer
      totalStreams:
        type: integer
    type: object
  dtos.MetricCard:
    properties:
      name:
        type: string
      value:
        type: number
    type: object
  dtos.Pageable:
    properties:
      page:
        type: integer
      pageSize:
        type: integer
      pages:
        type: integer
      totalElements:
        type: integer
    type: object
  dtos.ProcedureFilter:
    properties:
      id:
        type: integer
      name:
        type: string
    type: object
  dtos.StationFilter:
    properties:
      id:
        type: integer
      name:
        type: string
    type: object
  dtos.StreamCard:
    properties:
      checkErrors:
        type: boolean
      configuredStreamId:
        type: integer
      procedureId:
        type: integer
      procedureName:
        type: string
      stationId:
        type: integer
      stationName:
        type: string
      streamId:
        type: integer
      totalErrors:
        type: integer
      variableId:
        type: integer
      variableName:
        type: string
    type: object
  dtos.StreamCardsResponse:
    properties:
      content:
        items:
          $ref: '#/definitions/dtos.StreamCard'
        type: array
      pageable:
        $ref: '#/definitions/dtos.Pageable'
    type: object
  dtos.StreamData:
    properties:
      alertLevel:
        type: number
      evacuationLevel:
        type: number
      lowWaterLevel:
        type: number
      metrics:
        items:
          $ref: '#/definitions/dtos.MetricCard'
        type: array
      owner:
        type: string
      procId:
        type: integer
      procedure:
        type: string
      station:
        type: string
      streamType:
        type: integer
      unit:
        type: string
      unitId:
        type: integer
      updateFrequency:
        type: number
      varId:
        type: integer
      varName:
        type: string
    type: object
  dtos.StreamsData:
    properties:
      time:
        type: string
      value:
        type: number
    type: object
  dtos.StreamsDataResponse:
    properties:
      streams:
        items:
          $ref: '#/definitions/dtos.StreamsData'
        type: array
    type: object
  dtos.StreamsPerNetwork:
    properties:
      networkId:
        type: string
      networkName:
        type: string
      streamsCount:
        type: integer
    type: object
  dtos.StreamsPerNetworkResponse:
    properties:
      networks:
        items:
          $ref: '#/definitions/dtos.StreamsPerNetwork'
        type: array
    type: object
  dtos.StreamsPerStation:
    properties:
      errorCount:
        type: integer
      stationId:
        type: string
      stationName:
        type: string
      streamsCount:
        type: integer
    type: object
  dtos.StreamsPerStationResponse:
    properties:
      stations:
        items:
          $ref: '#/definitions/dtos.StreamsPerStation'
        type: array
    type: object
  dtos.VariableFilter:
    properties:
      id:
        type: integer
      name:
        type: string
    type: object
info:
  contact: {}
  description: This API manages the inputs of the forecast model
  title: Inputs API
  version: "1.0"
paths:
  /configuracion:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dtos.AllConfigurations'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener las configuraciones
    post:
      produces:
      - application/json
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para crear una configuracion
    put:
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para modificar una configuracion
  /configuracion/{id}:
    delete:
      parameters:
      - description: ID de la configuracion
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para eliminar una configuracion por id
    get:
      parameters:
      - description: ID de la configuracion
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dtos.Configuration'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener una configuracion por id
  /errores/indicadores:
    get:
      parameters:
      - description: 'Fecha de comienzo del periodo - valor por defecto: 7 dias atras'
        format: "2006-01-02"
        in: query
        name: timeStart
        type: string
      - description: 'Fecha del final del periodo - valor por defecto: hoy'
        format: "2006-01-02"
        in: query
        name: timeEnd
        type: string
      - description: Id de la configuracion
        format: uint
        in: query
        name: configurationId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dtos.ErrorIndicator'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener las indicadores de errores
  /errores/por-dia:
    get:
      parameters:
      - description: 'Fecha de comienzo del periodo - valor por defecto: 7 dias atras'
        format: "2006-01-02"
        in: query
        name: timeStart
        type: string
      - description: 'Fecha del final del periodo - valor por defecto: hoy'
        format: "2006-01-02"
        in: query
        name: timeEnd
        type: string
      - description: ID de la configuracion
        in: query
        name: configurationId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dtos.ErrorsCountPerDayAndType'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener las errores detectados por dia
  /filtro/estaciones:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dtos.StationFilter'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener las estaciones
      tags:
      - Filtros
  /filtro/procedimientos:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dtos.ProcedureFilter'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener los procedimientos
      tags:
      - Filtros
  /filtro/variables:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dtos.VariableFilter'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener las variables
      tags:
      - Filtros
  /healthcheck:
    get:
      consumes:
      - '*/*'
      description: get the status of the server.
      produces:
      - application/json
      responses:
        "200":
          description: Server is up and running
          schema:
            type: string
      summary: Show the status of the server.
  /inputs/metricas-generales:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dtos.InputsGeneralMetrics'
      summary: Endpoint para obtener las metricas generales de inputs
  /series:
    get:
      parameters:
      - description: 'Fecha de comienzo del periodo - valor por defecto: 7 dias atras'
        format: "2006-01-02"
        in: query
        name: timeStart
        type: string
      - description: 'Fecha del final del periodo - valor por defecto: ma単ana'
        format: "2006-01-02"
        in: query
        name: timeEnd
        type: string
      - description: Filtro por ID de la serie
        in: query
        name: streamId
        type: integer
      - description: Filtro por ID de la estacion
        in: query
        name: stationId
        type: integer
      - description: Filtro por ID de procedimiento
        in: query
        name: procId
        type: integer
      - description: Filtro por ID de variable
        in: query
        name: varId
        type: integer
      - description: Numero de pagina, por defecto 1
        in: query
        name: page
        type: integer
      - description: Cantidad de series por pagina, por defecto 15
        in: query
        name: pageSize
        type: integer
      - description: ID de la configuracion
        in: query
        name: configurationId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dtos.StreamCardsResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener las series configuradas de una configuracion
  /series/{serie_id}:
    get:
      parameters:
      - description: Id de la configuracion de la serie
        format: string
        in: query
        name: configuredStreamId
        required: true
        type: string
      - description: 'Fecha de comienzo del periodo - valor por defecto: 7 dias atras'
        format: "2006-01-02"
        in: query
        name: timeStart
        type: string
      - description: 'Fecha del final del periodo - valor por defecto: ma単ana'
        format: "2006-01-02"
        in: query
        name: timeEnd
        type: string
      - description: ID de la serie
        in: path
        name: serie_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dtos.StreamData'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener los datos de una serie dado un id y su configuracion
  /series/comportamiento:
    get:
      parameters:
      - description: 'Fecha de comienzo del periodo - valor por defecto: 7 dias atras'
        format: "2006-01-02"
        in: query
        name: timeStart
        type: string
      - description: 'Fecha del final del periodo - valor por defecto: ma単ana'
        format: "2006-01-02"
        in: query
        name: timeEnd
        type: string
      - description: ID de la configuracion
        in: query
        name: configurationId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dtos.BehaviourStreamsResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener las metricas de comportamiento
  /series/curadas/{serie_id}:
    get:
      parameters:
      - description: 'Fecha de comienzo del periodo - valor por defecto: 7 dias atras'
        format: "2006-01-02"
        in: query
        name: timeStart
        type: string
      - description: 'Fecha del final del periodo - valor por defecto: 5 dias despues'
        format: "2006-01-02"
        in: query
        name: timeEnd
        type: string
      - description: ID de la serie
        in: path
        name: serie_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dtos.StreamsDataResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener los valores de una serie curada por id
  /series/estaciones:
    get:
      parameters:
      - description: 'Fecha de comienzo del periodo - valor por defecto: 7 dias atras'
        format: "2006-01-02"
        in: query
        name: timeStart
        type: string
      - description: 'Fecha del final del periodo - valor por defecto: 5 dias despues'
        format: "2006-01-02"
        in: query
        name: timeEnd
        type: string
      - description: ID de la configuracion
        in: query
        name: configurationId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dtos.StreamsPerStationResponse'
      summary: Endpoint para obtener el resumen de las series agrupado por estacion
  /series/observadas/{serie_id}:
    get:
      parameters:
      - description: 'Fecha de comienzo del periodo - valor por defecto: 7 dias atras'
        format: "2006-01-02"
        in: query
        name: timeStart
        type: string
      - description: 'Fecha del final del periodo - valor por defecto: ma単ana'
        format: "2006-01-02"
        in: query
        name: timeEnd
        type: string
      - description: ID de la serie
        in: path
        name: serie_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dtos.StreamsDataResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener los valores de una serie observada por id
  /series/pronosticadas/{calibrado_id}:
    get:
      parameters:
      - description: ID del calibrado
        in: path
        name: calibrado_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dtos.CalibratedStreamsDataResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dtos.ErrorResponse'
      summary: Endpoint para obtener los valores de una serie pronosticadas por id
  /series/redes:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dtos.StreamsPerNetworkResponse'
      summary: Endpoint para obtener el resumen de las series agrupado por red
swagger: "2.0"
